@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Montserrat&family=Mulish&family=Nunito&family=Open+Sans+Condensed:wght@300&family=Poppins:wght@300&family=Roboto&display=swap");

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body {
  /* font-family: 'Karla', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif; */

  font-family: "Mulish", sans-serif;
}

.top-nav-bar {
  transition: all 0.5s;
  backdrop-filter: blur(30px);
  background-color: rgba(256, 256, 256, 0.72);
}

.my-name {
  font-weight: 600;
}

.navbar-nav .nav-link {
  font-size: 1rem;
}

.nav-item a {
  color: #adb5bd;
}

.bg-img-middle-section {
  /* Make Contents middle of screen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-weight: 800;
}

.auto-typing {
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Karla", sans-serif;
}

/* Certificate Section */

.certificate-container {
  border-radius: 12px;
  transition: all 0.5s;
  cursor: pointer;
}

.certificate-container img {
  border-radius: 12px;
  box-shadow: 5px 5px 15px 1px rgb(0 0 0 / 15%);
}

.certificate-container:hover {
  box-shadow: 0px 15px 50px rgb(0 0 0 / 15%);
}

/* Certificate Section Ends */

.skill-card-header {
  background: linear-gradient(to right, #538ffb, #5b54fa);
}

.filter-button {
  background: linear-gradient(to right, #538ffb, #5b54fa);
}

/* Project Section */

.project-container {
  cursor: pointer;
  transition: all 0.5s;
  border: 0;
  box-shadow: 5px 5px 15px 1px rgb(0 0 0 / 15%);
}

.project-container:hover {
  box-shadow: 0 40px 60px rgba(12, 5, 62, 0.15);
}

.project-container .card-body .card-inside-hover-body {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
  transition: all 1s;
  border-radius: 5px;
}

.project-container .card-body .card-inside-hover-body:hover {
  background-color: rgb(91, 84, 250, 0.7);
  opacity: 1;
}

/* .project-container .card-body .card-inside-hover-body .all-in-one .tech-stack .tech-stack-name{
  
} */



/* Project Section Ends Here */



/* 
@media (min-width: 576px) { 

 }


@media (min-width: 768px) { 

 }


@media (min-width: 992px) { 

 }


@media (min-width: 1200px) { 

 }
 */

@media (min-width: 2400px) {
  .navbar-nav .nav-link {
    font-size: 1.5rem;
  }
}
